Using the tips dataset, we are trying to tip based on total bill and whether or not someone smokes:

In [72]:
from pydataset import data
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Load the data

In [73]:
df = data('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

Encode the smoker column:

In [74]:
df = pd.concat([df, pd.get_dummies(df['smoker'], prefix='smoker')], axis=1)
df.head()

   total_bill   tip     sex smoker  day    time  size  smoker_No  smoker_Yes
1       16.99  1.01  Female     No  Sun  Dinner     2          1           0
2       10.34  1.66    Male     No  Sun  Dinner     3          1           0
3       21.01  3.50    Male     No  Sun  Dinner     3          1           0
4       23.68  3.31    Male     No  Sun  Dinner     2          1           0
5       24.59  3.61  Female     No  Sun  Dinner     4          1           0

Split the data into target and predictors:

In [93]:
X, y = df[['total_bill', 'size', 'smoker_No', 'smoker_Yes']], df[['tip']]

In [94]:
X.shape

(244, 4)

In [95]:
X.head()

   total_bill  size  smoker_No  smoker_Yes
1       16.99     2          1           0
2       10.34     3          1           0
3       21.01     3          1           0
4       23.68     2          1           0
5       24.59     4          1           0

In [96]:
y.shape

(244, 1)

In [97]:
y.head()

    tip
1  1.01
2  1.66
3  3.50
4  3.31
5  3.61

Split the data into train and test:

In [105]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)

In [106]:
X_train.shape

(183, 4)

In [107]:
X_train.head()

     total_bill  size  smoker_No  smoker_Yes
55        25.56     4          1           0
161       21.50     4          1           0
142       34.30     6          1           0
73        26.86     2          0           1
144       27.05     6          1           0

In [108]:
y_train.shape

(183, 1)

In [109]:
y_train.head()

      tip
55   4.34
161  3.50
142  6.70
73   3.14
144  5.00

Fit the model:

Help! Why am I getting this error?

In [110]:
model = LinearRegression()
model.fit(X_train, y_train)
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)