In [1]:
from pydataset import data
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings('ignore')

Load the data

In [2]:
df = data('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

Encode the smoker column:

In [3]:
df = pd.concat([df, pd.get_dummies(df['smoker'], prefix='smoker')], axis=1)
df.head()

   total_bill   tip     sex smoker  day    time  size  smoker_No  smoker_Yes
1       16.99  1.01  Female     No  Sun  Dinner     2          1           0
2       10.34  1.66    Male     No  Sun  Dinner     3          1           0
3       21.01  3.50    Male     No  Sun  Dinner     3          1           0
4       23.68  3.31    Male     No  Sun  Dinner     2          1           0
5       24.59  3.61  Female     No  Sun  Dinner     4          1           0

Split the data into train and test:

In [4]:
X = df[['total_bill', 'size', 'smoker_No', 'smoker_Yes']]

In [6]:
y = df[['tip']]

In [7]:
X.head(1)

   total_bill  size  smoker_No  smoker_Yes
1       16.99     2          1           0

In [8]:
y.head(1)

    tip
1  1.01

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state=123)

In [17]:
X_train.shape

(170, 4)

In [18]:
y_train.shape

(170, 1)

In [19]:
X_test.shape

(74, 4)

In [20]:
y_test.shape

(74, 1)

In [21]:
model = LinearRegression()

In [22]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)